$primary-color: #000000;
$secondary-color: #ffffff;
$text-color: #5c5c5c;
$background-color: #81b3d2;
$background-color--lightest: #ffffff;
$background-color--lighten: #f2f2f2;
$background-color--normal: #eeeeee;
$background-color--darken: #e6e6e6;
$background-color--darkest: #333333;
$font-size--small: 14px;
$font-size--medium: 16px;
$font-size: 18px;
$font-size--large: 21px;
$font-size--huge: 30px;
$line-height--small: 1.29;
$line-height: 1.71;
$line-height--large: 1.86;
$line-height--huge: 2.86;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1000px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
