.life__list {
  @include list-styles();
  display: block;
  background-color: $background-color--lightest;
  padding: 5px 0 35px;

  @media (min-width: $breakpoint-tablet) {
    display: flex;
    width: 100%;
    padding: 2px 0 0 0;
    min-height: 330px;
  }
}

.life__item {
  display: block;
  box-sizing: border-box;
  min-width: 275px;
  margin: 0 auto;
  text-align: left;

  @media (min-width: $breakpoint-tablet) {
    min-width: 33.3%;
    margin: 0;
    padding: 0;
    text-align: center;

    &--souvenirs {
      order: 1;
    }
  }
}

.life__leader {
  margin: 0;
  padding: 30px 0 14px 70px;

  &--living {
    background-image: url("../img/icon-house.svg");
    background-size: 11.5%;
    background-position: 7% 60%;

    @media (min-width: $breakpoint-tablet) {
      background-size: 30%;
    }

    @media (min-width: $breakpoint-desktop) {
      background-size: 19%;
    }
  }

  &--souvenirs {
    background-image: url("../img/icon-gift.svg");
    background-size: 9.5%;
    background-position: 8% 59%;

    @media (min-width: $breakpoint-tablet) {
      background-size: 25%;
    }

    @media (min-width: $breakpoint-desktop) {
      background-size: 16%;
    }
  }

  &--food {
    background-image: url("../img/icon-burger.svg");
    background-size: 12%;
    background-position: 6% 65%;

    @media (min-width: $breakpoint-tablet) {
      background-size: 30%;
    }

    @media (min-width: $breakpoint-desktop) {
      background-size: 19%;
    }
  }
  background-repeat: no-repeat;

  @media (min-width: $breakpoint-tablet) {
    font-size: $font-size--large;
    margin: 0;
    padding: 155px 0 0;
    background-position: center;
  }
}
