.page-header {
  position: relative;
  padding-top: 280px;
  background-color: #87ceeb;

  &--inner {
    padding-top: 48px;
  }

  @media (min-width: $breakpoint-tablet) {
    padding-top: 0;
  }
}

.page-header--moved {
  padding-top: 48px;

  @media (min-width: $breakpoint-tablet) {
    padding-top: 0;
  }
}

.page-header__title {
  margin: 0;
  text-align: center;
  height: 390px;
  color: transparent;
  background-image: url("../img/text-sedona-index.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 87%;

  &--inner {
    background-image: url("../img/text-sedona.svg");
    background-size: 72%;
    background-position: 50% 80%;
  }

  @media (min-width: $breakpoint-tablet) {
    height: 518px;
    background-position: 50% 45%;
    background-size: 60%;

    &--inner {
      height: 290px;
      background-size: 60%;
      background-position: 50% 45%;
    }
  }

  @media (min-width: $breakpoint-desktop) {
    background-position: 50% 45%;
    background-size: 38%;

    &--inner {
      height: 300px;
    }
  }
}

.page-header__logo {
  position: absolute;
  top: 224px;
  width: 100%;
  height: 56px;
  margin: 0;
  background-color: $background-color--lightest;
  // opacity: 0.9;
  z-index: 1;
}

@media (min-width: $breakpoint-tablet) {
  .page-header__logo {
    top: 0;
  }
}

.page-header__logo--moved {
  top: 0;
  opacity: 1;
}

.page-header__logotype {
  text-align: center;

  @media (min-width: $breakpoint-desktop) {
    position: absolute;
    top: -30px;
    left: 505px;
    width: 25%;
  }
}
