.social {
  @include list-styles();
  display: flex;
  justify-content: space-between;
  width: 150px;
  min-height: 62px;
  margin: auto;

  @media (min-width: $breakpoint-tablet) {
    margin: auto 0;
    padding: 0;
  }

  @media (min-width: $breakpoint-desktop) {
    margin: 6px auto 0;
    padding: 0;
  }
}

.social__item {
  display: inline-block;
  width: 46px;
  height: 48px;


  @media (min-width: $breakpoint-tablet) {
    margin: auto 0;
  }

  @media (min-width: $breakpoint-desktop) {
    margin: 0;
    padding: 0;
  }
}

.social__link {
  display: block;
  width: 46px;
  height: 48px;
  font-size: 0;
  background-color: $background-color;

  &:hover,
  &:focus {
    background-color: #669ebf;
  }

  &:active {
    background-color: #5596be;
  }
}

a .social__icon {
  fill: #ffffff;
}

a:active .social__icon {
  fill: #87b6d0;
}
