.video {
  position: relative;

  @media (min-width: $breakpoint-tablet) {
    margin: 74px auto 40px;
  }

  @media (min-width: $breakpoint-desktop) {
    margin: 72px auto 115px;
    width: 800px;
    height: 500px;
  }

  &::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    left: 20px;
    width: 280px;
    height: 45px;
    background-color: rgba(102, 102, 102, 0.7);

    @media (min-width: $breakpoint-tablet) {
      left: 0;
      width: 100%;
      height: 94px;
      background-color: rgba(10, 10, 10, 0.8);
    }
  }

  &::after {
    content: "";
    position: absolute;
    box-sizing: border-box;
    bottom: -66px;
    left: 20px;
    width: 280px;
    height: 66px;
    background-color: rgba(242, 242, 242, 1);

    @media (min-width: $breakpoint-tablet) {
      display: none;
    }
  }
}

.video__scale {
  position: absolute;
  bottom: 18px;
  left: 42px;
  width: 235px;
  height: 9px;
  background-image: linear-gradient(to top, transparent 40%, rgba(255, 255, 255, 0.5) 40%, rgba(255, 255, 255, 0.5) 60%, transparent 60%);

  @media (min-width: $breakpoint-tablet) {
    left: 90px;
    bottom: 42px;
    width: 390px;
    height: 10px;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 545px;
  }
}

.video__toggle {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: $secondary-color;
}

.video__btn {
  position: absolute;
  font-size: 0;
  border: none;
  background-color: transparent;
  z-index: 1;

  &--play {
    left: 38px;
    bottom: -44px;

    @media (min-width: $breakpoint-tablet) {
      left: 30px;
      bottom: 38px;
    }
  }

  &--subtitles {
    right: 88px;
    bottom: -44px;

    @media (min-width: $breakpoint-tablet) {
      right: 87px;
      bottom: 36px;
    }
  }

  &--fullscreen {
    right: 38px;
    bottom: -44px;

    @media (min-width: $breakpoint-tablet) {
      right: 35px;
      bottom: 36px;
    }
  }
}

.video__btn .video__btn-icon {
  fill: #5b6870;
}

.video__btn:hover .video__btn-icon {
  fill: $background-color--darkest;
}

.video__btn:active .video__btn-icon {
  fill: #c0c0c0;
}
