.leader {
  font-size: $font-size;
  line-height: 1.444;
  font-weight: 700;
  display: block;
  margin: 0;
  padding: 28px 27px 0 27px;

  @media (min-width: $breakpoint-tablet) {
    font-size: $font-size--large;
    line-height: 1.3;
    margin: 0;
    padding: 43px 48px 0;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: 43px 120px 0;
    letter-spacing: 0.01em;
  }

  &--promo {
    margin: 0;
    padding: 33px 27px 0 27px;

    @media (min-width: $breakpoint-tablet) {
      font-size: $font-size--large;
      line-height: 1.3;
      margin: 0;
      padding: 43px 137px 0;
    }

    @media (min-width: $breakpoint-desktop) {
      padding: 43px 290px 0;
      letter-spacing: 0.01em;
    }
  }

  &--promoinner {
    margin: 0;
    padding: 37px 25px 0;

    @media (min-width: $breakpoint-tablet) {
      font-size: $font-size--huge;
      line-height: 1.3;
      margin: 0;
      padding: 68px 137px 0;
    }

    @media (min-width: $breakpoint-desktop) {
      padding: 105px 137px 0;
    }
  }

  &--pictured {
    color: $secondary-color;
    margin: 0;
    padding: 38px 27px 0 27px;

    @media (min-width: $breakpoint-tablet) {
      font-size: $font-size--large;
      line-height: 1.3;
      margin: 0;
      padding: 43px 27px 0;
    }

    @media (min-width: $breakpoint-desktop) {
      padding: 50px 100px 0;
    }
  }

  &--bridge .br {
    display: none;

    @media (min-width: $breakpoint-tablet) {
      display: inline;
    }
  }

  &--formtitle {
    position: relative;
    display: block;
    text-align: center;
    margin: 0;
    padding: 10px 0 0;

    @media (min-width: $breakpoint-tablet) {
      text-align: left;
      margin-bottom: 37px;
    }

    @media (min-width: $breakpoint-desktop) {
      margin-left: 70px;
      padding: 0;
    }
  }

  &--name {
    @media (min-width: $breakpoint-desktop) {
      margin-left: 0;
      padding: 0;
    }
  }

  &--formcontact {
    position: relative;
    text-align: center;
    margin: 0 0 12px;
    padding: 10px 0 0;

    @media (min-width: $breakpoint-desktop) {
      margin: 0 auto;
      padding: 0 0 57px 0;
    }
  }

  &--formcontact::before {
    position: absolute;
    content: "";
    top: 29px;
    left: -184px;
    width: 125px;
    height: 1px;
    background-color: $background-color--darken;
    display: none;

    @media (min-width: $breakpoint-tablet) {
      display: block;
      top: 25px;
    }

    @media (min-width: $breakpoint-desktop) {
      top: 14px;
      left: -345px;
      width: 280px;
    }
  }

  &--formcontact::after {
    position: absolute;
    content: "";
    top: 29px;
    left: 340px;
    width: 125px;
    height: 1px;
    background-color: $background-color--darken;
    display: none;

    @media (min-width: $breakpoint-tablet) {
      display: block;
      top: 25px;
    }

    @media (min-width: $breakpoint-desktop) {
      top: 14px;
      width: 280px;
    }
  }

  &--contacts {
    font-size: $font-size--large;
    margin: 25px 0 18px 0;
    padding: 0;

    @media (min-width: $breakpoint-tablet) {
      font-size: $font-size--huge;
      line-height: 1.3;
      margin: 0;
      padding: 50px 137px 0;
    }
  }

  &--sights {
    position: relative;

    @media (min-width: $breakpoint-tablet) {
      padding: 0 150px;
      text-align: center;
      line-height: 1.25;
      margin-bottom: 24px;
    }

    @media (min-width: $breakpoint-desktop) {
      padding: 0 350px;
    }
  }

  &--sights::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 125px;
    height: 1px;
    background-color: $background-color--darken;
    display: none;

    @media (min-width: $breakpoint-tablet) {
      display: block;
      top: 26px;
      left: -15px;
    }

    @media (min-width: $breakpoint-desktop) {
      top: 25px;
      left: 23px;
      width: 280px;
    }
  }

  &--sights::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 125px;
    height: 1px;
    background-color: $background-color--darken;
    display: none;

    @media (min-width: $breakpoint-tablet) {
      display: block;
      top: 26px;
      left: 507px;
    }

    @media (min-width: $breakpoint-desktop) {
      top: 25px;
      left: 703px;
      width: 280px;
    }
  }

  &--emotions {
    position: relative;

    @media (min-width: $breakpoint-tablet) {
      padding: 0 150px;
      text-align: center;
      line-height: 1.25;
      margin-bottom: 36px;
    }
  }

  &--emotions::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 125px;
    height: 1px;
    background-color: $background-color--darken;
    display: none;

    @media (min-width: $breakpoint-tablet) {
      display: block;
      top: 13px;
      left: -50px;
    }

    @media (min-width: $breakpoint-desktop) {
      top: 14px;
      left: -200px;
      width: 280px;
    }
  }

  &--emotions::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 125px;
    height: 1px;
    background-color: $background-color--darken;
    display: none;

    @media (min-width: $breakpoint-tablet) {
      display: block;
      top: 13px;
      left: 475px;
    }

    @media (min-width: $breakpoint-desktop) {
      top: 14px;
      left: 480px;
      width: 280px;
    }
  }

  &--video {
    position: relative;
    margin: 0;
    padding: 32px 27px 0 27px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 320px;
      height: 1px;
      background-color: $background-color--darken;

      @media (min-width: $breakpoint-tablet) {
        display: none;
      }
    }

    @media (min-width: $breakpoint-tablet) {
      font-size: $font-size--huge;
      margin-top: 26px;
      padding: 33px 27px 0 27px;
    }

    @media (min-width: $breakpoint-desktop) {
      padding: 37px 27px 0 27px;
    }
  }


  &--main {
    @media (min-width: $breakpoint-tablet) {
      font-size: $font-size--huge;
    }
  }
}
