.page-footer {
  @media (min-width: $breakpoint-tablet) {
    display: flex;
    height: 120px;
  }
}

.page-footer__invite {
  display: block;
  margin: 0;
  padding: 35px 0 0 0;
  font-size: $font-size--large;
  font-weight: 700;
  line-height: $line-height;
  color: $primary-color;
  text-decoration: none;
  height: 67px;

  @media (min-width: $breakpoint-tablet) {
    margin: auto 112px auto 60px;
    min-height: 16px;
  }

  @media (min-width: $breakpoint-desktop) {
    margin: 12px 87px auto 129px;
    padding: 0;
  }
}

.page-footer__copy {
  @media (min-width: $breakpoint-tablet) {
    display: block;
    margin: 45px 60px auto auto;
    padding: auto 0;
  }

  @media (min-width: $breakpoint-desktop) {
    margin: 15px 40px auto auto;
  }
}

.page-footer__copy-text {
  display: inline-block;
  font-size: $font-size--small;
  vertical-align: top;
  line-height: 2.43;
}

.page-footer__copy-logo-link {
  display: inline-block;
  width: 29px;
  min-height: 36px;
  margin-left: 8px;
}

.page-footer__copy a {
  font-size: 0;
}

a:hover .page-footer__copy-logo,
a:focus .page-footer__copy-logo {
  fill: #7eb3d2;
}

a:active .page-footer__copy-logo {
  fill: #b2b2b2;
}
