.popup {
  display: none;

  &--nav {
    @media (min-width: $breakpoint-tablet) {
      display: flex;
    }
  }

  &--show {
    display: block;

    @media (min-width: $breakpoint-tablet) {
      display: flex;
    }
  }

  &--fail {
    position: fixed;
    bottom: 100px;
    left: 50%;
    margin-left: -160px;
    box-sizing: border-box;
    padding: 30px 0 20px;
    width: 320px;
    min-height: 280px;
    background-color: $secondary-color;
    box-shadow: 0 15px 30px -1px $background-color--normal, 0 -1px 5px -1px $background-color--normal;
  }

  &--success {
    position: fixed;
    bottom: 100px;
    left: 50%;
    margin-left: -160px;
    box-sizing: border-box;
    padding: 30px 0 36px;
    width: 320px;
    min-height: 326px;
    background-color: $secondary-color;
    box-shadow: 0 15px 30px -1px $background-color--normal, 0 -1px 5px -1px $background-color--normal;
  }
}
